In [3]:
import statsmodels.stats.api as sms
import statsmodels.api as sm
import pandas as pd 
import numpy as np 
from scipy import stats as st 
from matplotlib import pyplot as plt 
import seaborn as sns

In [5]:
alpha = 0.05
power = 0.8 
effect_size= 0.2

sms.tt_ind_solve_power(
    effect_size=effect_size,
    alpha=alpha,
    power=power,
    ratio=1,
    alternative='two-sided'
)

393.40569300025135

In [6]:
effect_sizes = [0.1, 0.2,0.3,0.4,0.5,1]

for effect_size in effect_sizes:
    sampel_size=sms.tt_ind_solve_power(
        effect_size=effect_size,
        alpha=alpha,
        power=power,
        ratio=1,
        alternative='two-sided'
    )
    print(f"Effect size: {effect_size}, Required Sampel Size: {sampel_size:.0f} customers")

Effect size: 0.1, Required Sampel Size: 1571 customers
Effect size: 0.2, Required Sampel Size: 393 customers
Effect size: 0.3, Required Sampel Size: 175 customers
Effect size: 0.4, Required Sampel Size: 99 customers
Effect size: 0.5, Required Sampel Size: 64 customers
Effect size: 1, Required Sampel Size: 17 customers

(2) POST CAMPAING

In [8]:
df = pd.read_csv('data/avg_transactions_after_campaign.csv')
df.head(4)

  campaign_date  control_group_avg_tran  test_group_avg_tran
0    2023-09-10                  259.83               277.32
1    2023-09-11                  191.27               248.68
2    2023-09-12                  212.41               286.61
3    2023-09-13                  214.92               214.85

In [9]:
df.shape

(62, 3)

In [10]:
df[df['control_group_avg_tran']>df['test_group_avg_tran']]

   campaign_date  control_group_avg_tran  test_group_avg_tran
3     2023-09-13                  214.92               214.85
8     2023-09-18                  265.13               212.60
9     2023-09-19                  232.88               207.63
16    2023-09-26                  222.95               213.30
22    2023-10-02                  238.39               203.10
23    2023-10-03                  253.95               234.26
25    2023-10-05                  239.47               216.37
26    2023-10-06                  200.70               166.70
27    2023-10-07                  200.91               170.01
28    2023-10-08                  188.30               150.27
29    2023-10-09                  247.11               164.00
35    2023-10-15                  240.27               238.30
39    2023-10-19                  223.90               196.84
44    2023-10-24                  230.83               213.45
48    2023-10-28                  229.18               222.29
49    2023-10-29                  237.26               214.46
52    2023-11-01                  265.45               169.98
57    2023-11-06                  255.70               140.61

In [11]:
df[df['control_group_avg_tran']>df['test_group_avg_tran']].shape[0]/df.shape[0]

0.2903225806451613

In [12]:
control_mean= df["control_group_avg_tran"].mean().round(2)
control_std= df["control_group_avg_tran"].std().round(2)
control_mean,control_std

(np.float64(221.18), np.float64(21.36))

In [13]:
test_mean= df["test_group_avg_tran"].mean().round(2)
test_std= df["test_group_avg_tran"].std().round(2)
test_mean,test_std

(np.float64(235.98), np.float64(36.66))

In [14]:
sampel_size=df.shape[0]
sampel_size

62

In [15]:
a=test_std**2/sampel_size
b=control_std**2/sampel_size

Z_score = (test_mean-control_mean)/np.sqrt(a+b)
Z_score

np.float64(2.7466072001806734)

In [16]:
critical_z_value= st.norm.ppf(1-alpha)
critical_z_value

np.float64(1.6448536269514722)

In [18]:
Z_score>critical_z_value

np.True_

In [19]:
p_value=1-st.norm.cdf(Z_score)
p_value

np.float64(0.0030107601919702187)

In [20]:
p_value<alpha

np.True_

In [21]:
z_statistic, p_value = sm.stats.ztest(df['test_group_avg_tran'],df['control_group_avg_tran'],alternative='larger')
z_statistic, p_value

(np.float64(2.7482973745691135), np.float64(0.002995282462202502))

In [22]:
test_group_CI= st.norm.interval(0.95,loc=test_mean, scale=test_std/np.sqrt(sampel_size))
test_group_CI

(np.float64(226.85475135624552), np.float64(245.10524864375446))